body, html{
	background-color: green !important;
}
#grid{
	position: relative;
	margin:0 auto 2em auto;
	width:500px;
	height:550px;
}
#grid div {
	position: absolute;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: blue;
	opacity: 0.1;
	border: 1px solid #ddd;
	width: 35px;
	height: 35px;
}
fieldset{
	text-align: center;
}